<th:block xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <script type="text/javascript" th:src="@{/js/common/jquery-2.0.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/frame/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/jquery.form.js}"></script>
    <script type="text/javascript" th:src="@{/js/common/layui-format-date.js}"></script>
    <script type="text/javascript" th:src="@{/frame/static/js/vip_comm.js}"></script>
    <script type="text/javascript" th:src="@{/js/base/utils.js}"></script>
    <script type="text/javascript" th:src="@{/js/base/index.js}"></script>
</th:block>