.qcode{
    position: relative;
    padding: 30px;
    border: 1px dashed #e2e2e2;
    background-color: #fff;
    text-align: center;
    color: #999;
    width: 300px;
    height: 300px;
}

.my-body{
    background-color: #F2F2F2;
}


.layui-card-body{
    text-align: center;
}