.a {
	margin-top: 44px;
	width: 100%;
	height:auto;
	min-height: 800px;
	min-width: 100px;
	background-image: url(../../images/invite.jpg);
	background-size: cover;
    background-position: center;
}


.dl_bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
	margin-top: 44px;
    
}

.dl_main {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.dl_main .btn {
    position: relative;
    width: 170px;
    height: 46px;
    left: 48%;
    z-index: 999;
    border-radius: 25px;
}

.dl_main img {
    position: absolute;
    top: 160px;
    left: 9.5rem;
    z-index: 3;
    margin-left: -7.4rem;
}
            

.invite_code{
	position: absolute;
	top: 260px;
	z-index: 10;
	width: 100%;
	display: block;
	text-align: center;
	font-weight: bold;
	color: #ffe262;
}

.invite_button{
	z-index: 11;
	position: relative;
	width: 100px;
	height: 100px;
	top: 255px;
	display: table-cell;
    vertical-align: middle;
    text-align: center;
}




@charset "utf-8";
/* CSS Document */
/******************************************* reset ******************************************/
*{margin:0 auto;padding:0;}
html {width:100%; height:100%; -MS-TEXT-SIZE-ADJUST: 100%; -webkit-text-size-adjust: 100;font-size:62.5%;}
body,h1,h2,h3,h4,dl,dt,dd,ul,ol,li,a,div,em,span,img,form,input,p,i{border:none;}
body{color:#363636;font-family:"Microsoft YaHei", Arial,HeitiSC;background-color:#fff; height:auto;}
em,i{word-wrap: break-word;font-style:normal;}
a{ color:#464646; text-decoration:none; }
a:link,a:visited,a:active{text-decoration:none;}
a,button,span,i,div,h2,aside{/* -webkit-user-select: none; */ -webkit-tap-highlight-color:rgba(0,0,0,0);}
input, button, textarea, select {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
ul, ol, dl,li {list-style: none ;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; margin:0; padding:0;}
img{border:none; max-width:100%;vertical-align: middle;}
input[type="button"], input[type="text"], input[type="submit"], input[type="search"], input[type="email"], input[type="number"], input[type="phone"], button { 
-webkit-appearance: none; -moz-appearance: none; -webkit-border-image: none; border-image: none;}
a{text-decoration:none;}
/*清除浮动*/
.clearfix {clear:both;height:0;overflow:hidden;margin:0;padding:0;}
input,textarea,select{border:0;outline:0}

.clearfloat:after { 
content: "." ; 
display: block ;
height: 0 ;
clear: both ;
visibility: hidden ;
}
.clearfloat{ display: inline-block; }
/* Hides from IE-mac \*/ 
*html .clearfloat{ height:1%; }
.clearfloat{ display:block; }
/* End hide from IE-mac \*/
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #8d8d8d;  
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #8d8d8d;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #8d8d8d;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #8d8d8d;
}

.shop_top{width:100%;min-height:3.2rem;padding:0.8rem 0;background:#ff4545;position:relative;}
.shop_toptext{width:70%;float:left;padding-left:3rem;background:#ffbbbb;height:3.2rem;border-radius:30px;margin-left:5%;font:1.5rem/3rem Microsoft yahei;color:#8d6666;}
.shop_topsbn{width:15%;float:right;border-radius:30px;margin-right:5%;background:none;height:3rem;border:1px solid #fff;
margin-top:0.1rem;font:1.5rem/3rem Microsoft yahei;color:#fff;}
.search_icon{color:#664b4b;position:absolute;left:8%;top:1.4rem;}
.shop_top h3{text-align:center;font:600 1.8rem/3.2rem Microsoft yahei;color:#fff;margin-left:4rem;}
.shop_top h3 i{float:right;margin:0.5rem 2rem 0 0;}
.shop_top h4{text-align:center;font:600 1.8rem/3.2rem Microsoft yahei;color:#fff;}
.shop_nav{width:100%;min-height:4rem;background:#ff5858;box-shadow:0px 2px 6px 2px #9a9a9a;}
.shop_nav li{font:600 1.6rem/4rem Microsoft yahei;width:20%;margin-left:4%;float:left;text-align:center;color:#fff;}
.shop_nav li a{color:#fff;display:block;}
.bline{border-bottom:2px solid #fff;}

.order_tit{width:90%;height:4.6rem;padding:0 5%;background:#f8f8f8;box-shadow:0px 2px 6px 2px #9a9a9a;}
.order_tit li{color:#555;font:600 1.4rem/4.2rem microsoft yahei;width:25%;float:left;text-align:center;
border-bottom:0.4rem solid #f8f8f8;}
.order_tit li a{color:#555;}
.order_on{color:#ff4545 !important;border-bottom:0.4rem solid #ff4545 !important;}
.order_on a{color:#ff4545 !important;;}
.order_shadow{width:100%;height:1rem;background:url(../images/shadow.png) repeat-x top;}

.posfix1{position:fixed;top:0;z-index:6;}
.posfix2{position:fixed;top:4.8rem;z-index:5;}


/*********************弹窗样式************************/
.layer_bg{background:#000;opacity:0.3;filter:alpha(opacity=30);position:fixed;width:100%;height:100%;z-index:99;left:0;top:0;}
.layer_cont,.layer_cont_select,.layer_cont_2{background:url(../images/community/alertbg.png) no-repeat;background-size:100% 21rem;width:100%;height:21rem;position:fixed;left:0;bottom:0;z-index:100;}
.layer_info{font-size:1.6rem;text-align:center;margin-top:8rem;line-height:8rem;}
.layer_close_btn{font-size:1.6rem;text-align:center;line-height:5rem;color:#f9492e;border-top:1px solid #f0f0f0;width:100%;}
.layer_tit{font-size:1.6rem;margin-top:8rem;line-height:3rem;padding-left:3rem;}
.layer_cont_select select{width:21rem;line-height:3rem;height:3rem;border:1px solid #d8d8d8;margin-left:3rem;background:#fff;
box-sizing:border-box;-webkit-box-sizing:border-box;}
.layer_confirm_btn{width:13.5rem;font-size:1.6rem;text-align:center;line-height:5rem;color:#f9492e;border-top:1px solid #f0f0f0;border-right:1px solid #f0f0f0;box-sizing:border-box;-webkit-box-sizing:border-box;float:left;margin-top:1.9rem;}
.layer_cancel_btn{width:13.5rem;font-size:1.6rem;text-align:center;line-height:5rem;color:#f9492e;border-top:1px solid #f0f0f0;box-sizing:border-box;-webkit-box-sizing:border-box;float:left;margin-top:1.9rem;}
.layer_info_2{font-size:1.6rem;text-align:center;margin-top:8rem;line-height:6rem;}

.popup_panel_bg{width:100%;height:100%;position:fixed;z-index:1000;opacity: 0.3;filter:alpha(opacity=30);background:#000;left:0;top:0;}

.loading{width: 4rem;height:4rem;position: fixed; top:50%;left:50%;margin:-2rem 0 0 -2rem;z-index: 6666;}
.loading_bg{width: 6rem;height:6rem;position: fixed; top:50%;left:50%;margin:-3rem 0 0 -3rem;z-index: 5555;
background:#000;opacity: 0.7;fliter:alpha(opacity=70); border-radius: 1rem;}