<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorate="~{layout/layout}">
<head>
    <meta charset="UTF-8">
    <title th:text="'基础设置-' + ${title}"></title>
    <style>
        .my-view{
            padding: 20px;
        }
    </style>
</head>
<body>

<th:block layout:fragment="current_page">
    <a><cite>基础设置</cite></a>
</th:block>

<th:block layout:fragment="body">

    <div class="layui-form layui-form-pane my-view layui-row layui-col-md5" xmlns:th="http://www.thymeleaf.org">

        <div class="layui-form-item">
            <label class="layui-form-label"  style="width: 220px">新用户首次注册赠送金币</label>
            <div class="layui-input-inline">
                <input type="text" id="newUserGiveValue"  placeholder="请输入新用户首次注册赠送金币" autocomplete="off" class="layui-input"  th:value="${newUserGive}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"  style="width: 220px">APP版本号(U开头代表强更)</label>
            <div class="layui-input-inline">
                <input type="text" id="version"  placeholder="请输入APP最新的版本号" autocomplete="off" class="layui-input"  th:value="${version}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"  style="width: 220px">IOS系统APP下载地址</label>
            <div class="layui-input-inline">
                <input type="text" id="iosDownload"  placeholder="请输入下载地址" autocomplete="off" class="layui-input"  th:value="${ios}">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label"  style="width: 220px">Android系统APP下载地址</label>
            <div class="layui-input-inline">
                <input type="text" id="androidDownload"  placeholder="请输入下载地址" autocomplete="off" class="layui-input"  th:value="${android}">
            </div>
        </div>

        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">联系方式</label>
            <div class="layui-input-block">
                <textarea id="consumeServiceHtml" placeholder="请编辑联系方式" th:text="${consumeServiceHtml}" class="layui-textarea"></textarea>
            </div>
        </div>


        <div class="layui-form-item ">
            <button lay-submit lay-filter="my-form" class="layui-btn layui-btn layui-btn-warm" style="float: left;">保存</button>
        </div>
    </div>

</th:block>
<th:block layout:fragment="free_footer">
    <script>
        layui.use(['form'], function(){
            var form = layui.form,
                layer = layui.layer;

            // 表单提交验证
            form.on('submit(my-form)',function(data){
                var consumeServiceHtml = $('#consumeServiceHtml').val(),
                    newUserGiveValue = $("#newUserGiveValue").val(),
                    versionValue = $("#version").val(),
                    newUserGiveValue = $("#newUserGiveValue").val(),
                    iosDownloadValue = $("#iosDownload").val(),
                    androidDownloadValue = $("#androidDownload").val();

                $.post("/management/config/updateConfiguration",{
                    html: consumeServiceHtml,
                    giveAmount: newUserGiveValue,
                    version: versionValue,
                    iosDownload: iosDownloadValue,
                    androidDownload: androidDownloadValue
                }, function (data) {
                    if(!isNaN(data.error) || data.code != 200) {
                        layer.msg("更新失败");
                        return;
                    }
                    layer.closeAll();
                    layer.msg("更新成功");
                })

                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
            form.render();
        });

    </script>

</th:block>
</body>
</html>